$colors: (
    logo: hsl(358, 100%, 68%),
    Rausch: hsl(349, 100%, 61%),
    white: hsl(0, 0%, 100%),
    black: hsl(0, 0%, 13%),
    babu: #00A699,
    arches: #FC642D,
    hof: #484848,
    foggy: #767676,
)