.regi-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.regi-left{
    width: 50%;
    height: 100vh;
    max-height: 100%;
    position: fixed;
    display: flex;
    align-items: unset;
    justify-content: center;
    flex-direction: column;
    // background-image: url('../../image/registerpage.png');
}

.regi-rightheader{
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    left: 50%;
    z-index: 2;

    &-container{
        padding: 32px 48px 0px;
        justify-content: flex-end;
        background-color: #fff;
        height: 88px;
        display: flex;
    }
}

.regi-rightcontent{
    width: 50%;
    overflow-y: auto;
    border-radius: 0px;
    position: inherit;
    height: 100%;
    z-index: 0;
    min-height: unset;
    max-height: unset;
    margin-left: 50vw;
    flex: 1 1 50%;
    align-self: flex-end;
    display: flex;
    background-color: #fff;
    color: #222222;
}

.regi-rightcontentcontainer{
    overflow-y: auto;
    margin-top: 88px;
    padding-left: 48px;
    padding-right: 48px;
    border-top: 1px solid #fff;
    margin-bottom: 82px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.regi-rightbtncontainer{
    padding-top: 1rem;
    width: 100%;
    max-width: 464px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

.regi-rightbtn{
    min-height: 88px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    padding: 0;

    &:hover{
        border: 1px solid #222222;
    }
}

.regi-countcontainer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.regi-countflex{
    display: flex;
}